@media screen and (max-width: 1150px) {
  .full-content {
    flex-direction: column;
  }
}

@media (max-width: 1040px) {
  .tabs {
    flex-wrap: wrap;
    justify-content: flex-start;
  }
  .tabs-item {
    margin-bottom: 15px;
  }

  .logo-image {
    height: 130px;
    width: 130px;
  }
}

@media (max-width: 900px) {
  .content {
    flex-direction: column;
  }

  #video-trailer {
  height: 460px;
  }

  .short-info {
    flex-direction: row;
    margin-bottom: 15px;
    justify-content: space-evenly;
  }
  .logo-image {
    height: 100px;
    width: 100px;
  }
}

@media (max-width: 650px) {
  .tabs-item:last-child {
    display: none;
  }

  .logo-image {
    height: 70px;
    width: 70px;
  }

  #video-trailer {
  height: 360px;
  }
}

@media (max-width: 510px) {
  .content {
    display: block;
    padding-left: 24px;
    padding-right: 24px;
  }

  .avatar {
    width: 30px;
    height: 30px;
  }

  .logo-image {
    height: 50px;
    width: 50px;
  }

  .header {
    flex-wrap: wrap;
  }

  .search {
    flex: 100%;
    order: 3;
    margin-bottom: 30px;
  }

  .info {
    flex-wrap: wrap;
  }

  #video-trailer {
  height: 300px;
  }

  .short-info {
    margin-bottom: 15px;
    justify-content: center;
    padding-right: 0;
  }

  .poster {
    width: 80%;
    height: 80%;
    margin: auto;
    margin-bottom: 15px;
  }

  .button-want_to_watch {
    display: block;
    margin: auto;
    width: 80%;
  }

  .actors-list-container {
    display: none;
  }

  .tabs {
    flex-direction: column;
  }

  .tabs-item {
    margin-bottom: 5px;
    margin: auto;
  }

  .tabs-item:last-child {
    display: none;
  }

  .subscribe {
    margin: auto;
  }
}

@media (max-width: 400px) {
  .tabs-content {
    margin-right: 0;
  }

  .banner img {
    width: 220px;
  }
}
