body {
  background-color: #0a090a;
  color: #fff;
  font-family: "Roboto" sans-serif;
  background-image: url(../img/main-bg.png);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: contain;
}

.container {
  padding-top: 20px;
  max-width: 1440px;
  margin: auto;
}

.title {
  font-family: "Playfair Display", serif;
  font-size: 48px;
  line-height: 64px;
  margin: 0;
  margin-bottom: 7px;
}

.title-en {
  display: inline-block;
  color: #787878;
  font-size: 20px;
  line-height: 23px;
  margin-bottom: 38px;
}

.info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 100px;
}

.movie-info {
  display: flex;
  align-items: center;
}

.tag {
  font-size: 16px;
  line-height: 19px;
  color: #333333;
  background-color: #fff;
  border-radius: 3px;
  padding: 5px 10px;
  margin-right: 20px;
  cursor: pointer;
}

.country {
  font-size: 16px;
  line-height: 19px;
  margin-right: 33px;
}

.play {
  display: flex;
  align-items: center;
  font-size: 16px;
  line-height: 19px;
  color: #fff;
  text-decoration: none;
}

.watch-trailer-button {
  width: 30px;
  height: 30px;
  background-image: url(../img/play.svg);
  background-repeat: no-repeat;
  margin-right: 15px;
  padding: 1px;
  cursor: pointer;
}

.more {
  display: flex;
  align-items: center;
  font-size: 16px;
  line-height: 19px;
  color: #fff;
  text-decoration: none;
}

.more:after {
  content: "";
  width: 30px;
  height: 30px;
  background-image: url(../img/play.svg);
  background-size: 100%;
  background-repeat: no-repeat;
  margin-left: 15px;
  transform: rotate(90deg);
}

.content {
  display: flex;
  justify-content: space-between;
  padding: 43px 50px;
  background: #fff;
  border-radius: 3px;
  color: #000;
}

#video-trailer {
  width: 900px;
  height: 530px;
  margin: auto;
}

.js-none-display {
  display: none;
}

.js-block-display {
  display: block;
}